$primary-color: #f39c12;
$secondary-color: #3498db;
body{
  // background-color: $primary-color;
  font-size:16px;
}
.navbar-default{
  background-color: $secondary-color;
}
.navbar-header{
  a{
    color:#fff;
  }
}
.movie{
  width:calc(100%/5);
  height:275px;
  float:left;
  position:relative;
  cursor: pointer;
  &:after{
    opacity:0;
    transition: all 500ms ease;
  }
  &:hover:after{
    background: #222222;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
  }
  .img{
    position: relative;
    float: left;
    width:  100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }
}
.search-container{
    height: 100%;
    margin: 23px;
    display: block;
}
.footer-link{
  display:block;
  margin:auto;
  padding:20px;
  color: #222222;
  font-size:.8em;
  text-align:center;
}
.banner-img{
  width:100%;
}
.center-block{
  float:none;
}
.genre-btn{
  margin: 5px;
  width: 190px;
  padding: 30px;
}
.genre-cont{
  width: 69%;
  margin: 20px auto;
  margin-bottom: 80px;
}
.form-control{
  margin-bottom:10px;
}
.game-board{
  width:90%;
  display:block;
  margin: 0 auto;
  border-radius: 4px;
}
.option-btn{
  width:48%;
  margin:5px;
}
.options-cont{
  display:flex;
  flex-wrap:wrap;
}
.difficulty-btn{
  margin-bottom:20px;
  font-size:20px;
  font-weight: bold;
  padding: 15px 15px;
}
.answer{
  display: block;
  margin-top: 10px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}